BOT_TOKEN=6420240984:AAG0PZugRrGQozpcSNxUsFnLSoRNAQGod1o
OWNER_ID=5111294407
MONGO_URL=mongodb+srv://sampandey267:sampandey267@cluster0.ldmzk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_USERNAME=MR_CUTE_X
